{% extends'Layouts/layoutsecondlevel.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}{% endblock %}



{% block content %}
    <ul>
            <li>
                {{ form_start(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.prix) }}
                {{ form_row(form.quantite) }}
                {{ form_row(form.send) }}
                {{ form_end(form) }}
            </li>
    </ul>
{% endblock %}