{% extends'Layouts/layoutsecondlevel.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}{% endblock %}



{% block content %}
    {# <ul>
        {% for key, produit in produits %}
            <li>
                nom: {{ produit.nom }}, prix: {{ produit.prix }}, stock: {{ produit.quantite }}, pays:
                {% for p in produit.pays %}
                    {{ p.nom }},
                {% endfor %}
                {% if forms[key] is not null %}
                    <form method="POST" action="{{ path('produit_form_gestion') }}">
                        {{ form_row(forms[key].quantite) }}
                        {{ form_row(forms[key].produitcache) }}
                        <input type="submit" value="Submit">
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul> #}
    <table class="custom-table">
        <thead>
        <tr class="table-row">
            <th class="table-cell">Libellé</th>
            <th class="table-cell">Prix unitaire</th>
            <th class="table-cell">Quantité en stock</th>
            <th class="table-cell">Pays</th>
            <th class="table-cell">Choix quantité  </th>
            <th class="table-cell">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for key, produit in produits %}
            <tr class="table-row">
                <td class="table-cell">{{ produit.nom }}</td>
                <td class="table-cell">{{ produit.prix }}</td>
                <td class="table-cell">{{ produit.quantite }}</td>
                <td class="table-cell">{% for p in produit.pays %}
                        <li>{{ p.nom }}</li>
                    {% endfor %}</td>
                {% if forms[key] is not null %}
                    <form method="POST" action="{{ path('produit_form_gestion') }}">
                        <td class="table-cell">{{ form_row(forms[key].quantite) }}</td>
                        {{ form_row(forms[key].produitcache) }}
                        <td class="table-cell"><input type="submit" value="Ajouter au panier"></td>
                    </form>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}