{% extends'Layouts/layoutsecondlevel.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_SUPERADMIN') %}
        Création d'un administrateur
    {% else %}
        Création compte
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}{% endblock %}



{% block content %}
    <ul>
        {{ form_start(form) }}
        <li>{{ form_row(form.login) }}</li>
        <li>{{ form_row(form.password) }}</li>
        <li>{{ form_row(form.nom) }}</li>
        <li>{{ form_row(form.prenom) }}</li>
        <li>{{ form_row(form.datenaissance) }}</li>
        <li>{{ form_row(form.pays) }}</li>
        <!-- Ajout du champ CSRF -->
        <li><input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"></li>
        <!-- Fin du formulaire -->
        <li>{{ form_row(form.send) }}</li>
        {{ form_end(form) }}

    </ul>
{% endblock %}