<h1>MENU</h1>
<ul>
    {% if is_granted('ROLE_CLIENT') %}
        <li>Vous avez {{ getTotalQuantiteProduit() }} article(s) dans votre panier </li>
    {% endif %}


    {% if not app.user %}
        <li><a href="{{ path('security_login') }}">Se connecter</a></li>
    {% endif %}

    {% if app.user %}
    <li><a href="{{ path('security_logout') }}">Se déconnecter</a></li>
    {% endif %}


    <li><a href="{{ path('app_accueil') }}">Page d'accueil</a></li>

    {% if app.user %}
        <li><a href="{{ path('useraccount_editer') }}">Gérer mon profil</a></li>
    {% endif %}

    {% if is_granted('ROLE_CLIENT') %}
    <li><a href="{{ path('produit_form_liste') }}">Liste des produits</a></li>
    {% endif %}

    {% if is_granted('ROLE_CLIENT') %}
        <li><a href="{{ path('panier_affichage') }}">Mon panier</a></li>
    {% endif %}

    {% if not app.user %}
        <li><a href="{{ path('useraccount_ajouter') }}">Créer un compte</a></li>
    {% endif %}


    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('useraccount_gererusers') }}">Gérer les utilisateurs</a></li>
        <li><a href="{{ path('produit_form_ajouter') }}">Créer un produit</a></li>
        <li><a href="https://fr.wikipedia.org/wiki/Life_Is_Strange_(jeu_vid%C3%A9o)">Lien Externe</a></li>
    {% endif %}

    {% if is_granted('ROLE_SUPERADMIN') %}
        <li><a href="{{ path('useraccount_ajouter') }}">Ajouter un administrateur</a></li>
    {% endif %}
</ul>




